<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <StreamStatusNeon.MySettings>
        <quicknotes>Nothing Here</quicknotes>
        <WpDisplay>True</WpDisplay>
        <GilDisplay>True</GilDisplay>
        <ModList>True</ModList>
        <Level>True</Level>
        <Discnums>True</Discnums>
        <LocSet>True</LocSet>
      </StreamStatusNeon.MySettings>
    </Roaming>
    <PC_DESKTOP-9JGA080>
      <StreamStatusNeon.MySettings>
        <Level>True</Level>
      </StreamStatusNeon.MySettings>
    </PC_DESKTOP-9JGA080>
  </userSettings>
</configuration>