<?xml version="1.0" encoding="utf-8" ?>
<configuration><![CDATA[]]>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamStatusNeon.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics><![CDATA[]]>
    <userSettings>
        <StreamStatusNeon.MySettings>
            <setting name="GilDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="quicknotes" serializeAs="String">
                <value>Nothing Here</value>
            </setting>
            <setting name="WpDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Level" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Discnums" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuicknotesOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Modstringlist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>None</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LocalTimeSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StreamTimeSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeSet" serializeAs="String">
                <value>True</value>
            </setting>
        </StreamStatusNeon.MySettings>
    </userSettings>
</configuration>
